<div class="container text-center">
    <h2>Choose Your Timeslot</h2>
    <div ng-repeat="time in timeslot">
        <p ng-if="time.timeslotData.length < 1"><a  href="#/addtimeslotData/{{time.id}}">{{time.time}}</a></p>
        <p ng-if="time.timeslotData.length > 0"><a ng-class="{'text-danger': time.timeslotData.length > 0 }" href="#/editTimeslotData/{{time.timeslotData[0].id}}">{{time.time}}</a></p>
    </div>
</div>

