<div class="container text-center">
    <h2>Fill Up Information</h2>
    <form role="form" name="userForm" novalidate ng-submit="userForm.$valid && save()" > 
        <!-- novalidate prevents HTML5 validation since we will be validating ourselves -->
        <div class="form-group">
            <input class="form-control" placeholder="First Name" name="firstName" ng-model="user.firstName" type="text" autofocus="" ng-class="{'has-error': userForm.firstName.$error.required}" required />
        </div>
        <span class="text-danger" ng-show="userForm.firstName.$dirty && userForm.firstName.$invalid">
            <span ng-show="userForm.firstName.$error.required">First name is required</span>
        </span>

        <div class="form-group">
            <input class="form-control" placeholder="Last Name" name="lastName" ng-model="user.lastName" type="text" autofocus="" ng-class="{'has-error': userForm.lastName.$error.required}" required />
        </div>
        <span class="text-danger" ng-show="userForm.lastName.$dirty && userForm.lastName.$invalid">
            <span ng-show="userForm.lastName.$error.required">Last name is required</span>
        </span>

        <div class="form-group">
            <input class="form-control" placeholder="Phone Number" name="phoneNumber" ng-model="user.phoneNumber" type="text" autofocus="" ng-class="{'has-error': userForm.phoneNumber.$error.required}" ng-pattern="/^\+?\d{10}$/" required />
        </div>
        <span class="text-danger" ng-show="userForm.phoneNumber.$dirty && userForm.phoneNumber.$invalid">
            <span ng-show="userForm.phoneNumber.$error.required">Phone number is required</span>
        </span>
        <span class="text-danger" ng-show="userForm.phoneNumber.$error.pattern">Please enter a 10 digit number</span>

        <input type="button" class="btn btn-primary" ng-click="cancel()" value="Cancel" />
        <button type="submit" class="btn btn-primary" ng-disabled="!userForm.$valid">Save</button>
    </form>
</div>
